.friendListItem {
    border: 1px solid #1b1b1b;
    border-radius: 5px;
    width: 80px;
}

.friendImg {
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

.friendOnline {
    color: green;
}

.friendOffline {
    color: red;
}